Date, time year-month-day hour:minute:second
Appliances, energy use in Wh
lights, energy use of light fixtures in the house in Wh
T1, Temperature in kitchen area, in Celsius
RH_1, Humidity in kitchen area, in %
T2, Temperature in living room area, in Celsius
RH_2, Humidity in living room area, in %
T3, Temperature in laundry room area
RH_3, Humidity in laundry room area, in %
T4, Temperature in office room, in Celsius
RH_4, Humidity in office room, in %
T5, Temperature in bathroom, in Celsius
RH_5, Humidity in bathroom, in %
T6, Temperature outside the building (north side), in Celsius
RH_6, Humidity outside the building (north side), in %
T7, Temperature in ironing room , in Celsius
RH_7, Humidity in ironing room, in %
T8, Temperature in teenager room 2, in Celsius
RH_8, Humidity in teenager room 2, in %
T9, Temperature in parents room, in Celsius
RH_9, Humidity in parents room, in %
To, Temperature outside (from Chievres weather station), in Celsius
Pressure (from Chievres weather station), in mm Hg
RH_out, Humidity outside (from Chievres weather station), in %
Wind speed (from Chievres weather station), in m/s
Visibility (from Chievres weather station), in km
Tdewpoint (from Chievres weather station), Â°C
rv1, Random variable 1, nondimensional
rv2, Random variable 2, nondimensional

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head(5)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.tail(7)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.7,...,23.2,46.751429,23.000000,755.2,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.7,...,23.2,46.745000,22.866667,755.2,55.333333,3.166667,22.833333,13.366667,16.966162,16.966162
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,...,23.2,46.790000,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,...,23.2,46.790000,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,...,23.2,46.790000,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,...,23.2,46.817500,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,...,23.2,46.845000,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = pd.DataFrame(df['T2'])
y = pd.DataFrame(df['T6'])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
linear_model = LinearRegression()

In [11]:
#linear model showin relationship between temperature in living room and outside the building
linear_model.fit(X_train,y_train)

LinearRegression()

In [12]:
y_pred = linear_model.predict(X_test)

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [15]:
r2_score = r2_score(y_test, y_pred)
round(r2_score, 2)

0.64

In [16]:
df1 = df.drop(['date','lights'],axis=1)

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
scaler = MinMaxScaler()

In [19]:
#normalizing dataset
normalised_df = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)

In [20]:
X = normalised_df.drop('Appliances', axis =1)

In [21]:
y = normalised_df['Appliances']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [23]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso

In [24]:
model = LinearRegression()

In [25]:
model.fit(X_train,y_train)

LinearRegression()

In [26]:
predictions = model.predict(X_test)

In [33]:
#mean absolute error
mae = mean_absolute_error(y_test, predictions)
round(mae, 2)

0.05

In [34]:
#residual sum of squares
rss = np.sum(np.square(y_test - predictions))
round(rss, 2)

45.35

In [35]:
#root mean square error
rmse = np.sqrt(mean_squared_error(y_test, predictions))
round(rmse, 3)

0.088

In [37]:
#coefficient of determination
from sklearn.metrics import r2_score
r2_score1 = r2_score(y_test, predictions)
round(r2_score1, 2)

0.15

In [38]:
ridge_reg = Ridge()
ridge_reg.fit(X_train, y_train)

Ridge()

In [39]:
lasso_reg = Lasso()
lasso_reg.fit(X_train, y_train)

Lasso()

In [40]:
#function to get weight of every feature
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    return weights_df

In [41]:
model_weights = get_weights_df(model, X_train, 'Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')
final_weights = pd.merge(model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [73]:
final_weights

       Features  Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2     -0.456698     -0.358103          -0.0
1         T_out     -0.321860     -0.206747           0.0
2            T2     -0.236178     -0.161609           0.0
3            T9     -0.189941     -0.186556           0.0
4          RH_8     -0.157595     -0.155309          -0.0
5        RH_out     -0.077671     -0.035250          -0.0
6          RH_7     -0.044614     -0.047704          -0.0
7          RH_9     -0.039800     -0.043123          -0.0
8            T5     -0.015657     -0.024406           0.0
9            T1     -0.003281     -0.034432           0.0
10          rv1      0.000770      0.000723          -0.0
11          rv2      0.000770      0.000723          -0.0
12  Press_mm_hg      0.006839      0.006172          -0.0
13           T7      0.010319      0.009521           0.0
14   Visibility      0.012307      0.011853           0.0
15         RH_5      0.016006      0.016250           0.0
16         RH_4      0.026386      0.022370           0.0
17           T4      0.028981      0.025234           0.0
18    Windspeed      0.029183      0.031157           0.0
19         RH_6      0.038049      0.033046          -0.0
20         RH_3      0.096048      0.094433           0.0
21           T8      0.101995      0.099261           0.0
22    Tdewpoint      0.117758      0.052403           0.0
23           T6      0.236425      0.196661           0.0
24           T3      0.290627      0.283836           0.0
25         RH_1      0.553547      0.478345           0.0

In [77]:
final_weights[['Features','Model_Weight']]
#max weight is RH_1
#min weight is RH_2

       Features  Model_Weight
0          RH_2     -0.456698
1         T_out     -0.321860
2            T2     -0.236178
3            T9     -0.189941
4          RH_8     -0.157595
5        RH_out     -0.077671
6          RH_7     -0.044614
7          RH_9     -0.039800
8            T5     -0.015657
9            T1     -0.003281
10          rv1      0.000770
11          rv2      0.000770
12  Press_mm_hg      0.006839
13           T7      0.010319
14   Visibility      0.012307
15         RH_5      0.016006
16         RH_4      0.026386
17           T4      0.028981
18    Windspeed      0.029183
19         RH_6      0.038049
20         RH_3      0.096048
21           T8      0.101995
22    Tdewpoint      0.117758
23           T6      0.236425
24           T3      0.290627
25         RH_1      0.553547

In [59]:
from sklearn.linear_model import Ridge
ridge_reg1 = Ridge(alpha = 0.4)
ridge_reg1.fit(X_train, y_train)

Ridge(alpha=0.4)

In [60]:
ridge_pred = ridge_reg1.predict(X_test)

In [61]:
rmse1 = np.sqrt(mean_squared_error(y_test, ridge_pred))
round(rmse1, 3)
#RMSE remains the same after training a ridge regression model

0.088

In [63]:
lasso_reg1 = Lasso(alpha = 0.001)
lasso_reg1.fit(X_train, y_train)

Lasso(alpha=0.001)

In [64]:
new_lasso_weights = get_weights_df(lasso_reg1, X_train, 'Lasso_weight')

In [71]:
new_lasso_weights

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [70]:
new_lasso_weights[new_lasso_weights['Lasso_weight'] != 0].count()
#4 have non-zero weights

Features        4
Lasso_weight    4
dtype: int64

In [67]:
lasso_pred = lasso_reg1.predict(X_test)

In [68]:
rmse2 = np.sqrt(mean_squared_error(y_test, lasso_pred))
round(rmse1, 3)

0.088